#box-a {
    top: 0;
    right: 0;
    width: 100px;
    padding-left: 20px;
    border: 1px solid black;
    background-color: #ff9292;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
  }

#box-b {
    top: 0;
    right: 0;
    width: 80px;
    padding-left: 30px;
    border: 1px solid black;
    background-color: #8f384d;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
 #box-c {
    top: 0;
    right: 0;
    width: 100px;
    padding-left: 20px;
    border: 1px solid black;
    background-color: #f1e189;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
  }
  
  .container {
    width: 300px;
    height: 120px;
    padding: 20px;
    margin-left: 100px;
    border: 2px solid black;
    background-color: #707070;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
  }

  .row {
      background-color: #8f384d;
      width: 100%;
      display: flex;

  }

  h1 {
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  @media (max-width: 992px) {
    .row {
      background-color: #8f384d;
      width: 100%;
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 2rem;
      margin-top: 1rem;


  }
  .container {
    width: 300px;
    height: 120px;
    padding: 0.5rem 0;
    margin-left: 100px;
    border: 2px solid black;
    background-color: #707070;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
  }


  }